
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000000 url(../img/loading.gif) center center no-repeat;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
  height: 100%;
}

#info {
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 3px;
  right: 10px;
  padding: 10px;

}

#currentInfo {
  width: 270px;
  position: absolute;
  left: 20px;
  top: 63px;

  background-color: rgba(0,0,0,0.2);

  border-top: 1px solid rgba(255,255,255,0.4);
  padding: 10px;
}

a {
  color: #aaa;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.bull {
  padding: 0 5px;
  color: #555;
}

#title {
  position: absolute;
  top: 20px;
  width: 270px;
  left: 20px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
  font: 20px Georgia;
  padding: 10px;
}
